/*-----------------------------------------------------------------------------------*/
/*                    Fileshare Related style                                        */
/*-----------------------------------------------------------------------------------*/

/* ---------------  progress bars -----------------------------*/
/*
#file-progress1{
    color:#FFF;
    height:20px;
}
#file-progress2{
    color:#FFF;
    height:20px
}
*/

/* ------------------------------ File Listing containers --------------------------*/

.fileviewing-box {
    display: block;
    height: 100vh;
    margin-bottom: 50px;
}

.fileviewing-box span {
    float: right;
}

/* ------------------------------ File sharing containers --------------------------*/
.filesharing-box {
    height: 60%;
    max-height: 200px;
    overflow-x: scroll;
    font-size: small;
    padding: 0px;
}

.filesharing-box li {
    color: #615aa8;
    padding: 10px;
    font-size: small;
    float: right;
}

.filesharing-box i {
    padding-right: 10px;
    float: right;
}

.filesharing-box span {
    display: initial !important;
    float: right;
}

[class*="filesharingWidget"] {
    height: auto;
    width: 100%;
    display: inline-grid !important;
    overflow-y: scroll;
    margin-bottom: 50px;
    position: relative;
}

[class*="filesharingWidget"] iframe {
    height: 100vh;
}

/* apply seprate height fpr single and divided*/
[class*="filesharingWidget"] img {
    height: auto !important;
    width: 100%;
    display: inline-grid !important;
    margin-bottom: 20px;
    object-fit: contain;
    cursor: pointer;
}

[class*="filesharingWidget"] video {
    width: auto;
    height: -webkit-fill-available;
    object-fit: contain;
}

.fileinputClass {
    background: transparent;
    border: none;
    bottom: 10px;
    position: fixed;
}

.fileBoxClass {
    overflow-y: hidden;
}


/* --------------- image rotate -----------------------------*/

/*.rotate0portrait {*/
/*    transform-origin: top left; !* IE 10+, Firefox, etc. *!*/
/*    -webkit-transform-origin: top left; !* Chrome *!*/
/*    -ms-transform-origin: top left; !* IE 9 *!*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/
/*.rotate0landscape {*/
/*    transform-origin: top left; !* IE 10+, Firefox, etc. *!*/
/*    -webkit-transform-origin: top left; !* Chrome *!*/
/*    -ms-transform-origin: top left; !* IE 9 *!*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*.rotate90portrait {*/
/*    transform: rotate(90deg) translateY(-100%);*/
/*    -webkit-transform: rotate(90deg) ;*/
/*    !*-webkit-transform: rotate(90deg) translateY(-100%);*!*/
/*    -ms-transform: rotate(90deg) translateY(-100%);*/
/*    margin-top: 50px;*/
/*    height: -webkit-fill-available;*/
/*    */
/*}*/
/*.rotate90landscape {*/
/*    transform: rotate(90deg) translateY(-100%);*/
/*    -webkit-transform: rotate(90deg) ;*/
/*    !*-webkit-transform: rotate(90deg) translateY(-100%);*!*/
/*    -ms-transform: rotate(90deg) translateY(-100%);*/
/*}*/

/*.rotate180portrait {*/
/*    transform: rotate(180deg) translate(-100%!*    margin-top: 150px;*/
/*    margin-bottom: -100px;*/
/*    margin-left: -150px; *!,-100%);*/
/*    -webkit-transform: rotate(180deg) ;*/
/*    !*-webkit-transform: rotate(180deg) translate(-100%,-100%);*!*/
/*    -ms-transform: rotate(180deg) translateX(-100%,-100%);*/
/*}*/
/*.rotate180landscape {*/
/*    transform: rotate(180deg) translate(-100%,-100%);*/
/*    -webkit-transform: rotate(180deg) ;*/
/*    !*-webkit-transform: rotate(180deg) translate(-100%,-100%);*!*/
/*    -ms-transform: rotate(180deg) translateX(-100%,-100%);*/
/*}*/

/*.rotate270portrait {*/
/*    transform: rotate(270deg) translateX(-100%);*/
/*     -webkit-transform: rotate(270deg) ;*/
/*    !*-webkit-transform: rotate(270deg) translateX(-100%);*!*/
/*    -ms-transform: rotate(270deg) translateX(-100%);*/
/*   !* height: -webkit-fill-available;*!*/
/*}*/
/*.rotate270landscape {*/
/*    transform: rotate(270deg) translateX(-100%);*/
/*     -webkit-transform: rotate(270deg) ;*/
/*    !*-webkit-transform: rotate(270deg) translateX(-100%);*!*/
/*    -ms-transform: rotate(270deg) translateX(-100%);*/
/*}*/
/*-----------------------------------------------------------------------------------*/


