.remoteVideoControlBarClass{
    display: inline-table;
    font: icon;
    cursor: pointer;
}

.localVideoControlBarClass{
    display: inline-table;
    font: icon;
    cursor: pointer;
}

.videoButtonClass{
    padding-left: 5px;
    /*padding-right: 5px;*/
}