/*-----------------------------------------------------------------------------------*/
/*            Timer style                                        */
/*-----------------------------------------------------------------------------------*/
.time{
    color: black;
}
.timer ul {
    list-style-type: none;
}
.timer li{
    float: right;
}